{% extends "base_template.html" %}

{% block title %}{{ tour.name }}{% endblock %}

{% block content %}
    <h1>{{ tour.name }}</h1>
    <p>Descripción: {{ tour.description }}</p>
    <p>Fecha: {{ tour.date.strftime('%d-%m-%Y') }}</p>
    <p>Costo: {{ tour.price }}</p>
    
    <h2>Reservar</h2>

    {% if current_user.is_authenticated %}
    <div class="booking-form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.people.label }}
                {{ form.people }}
                {% for error in form.people.errors %}
                <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
    {% else %}
    <div class="login-message">
        <a href="{{ url_for('users.login') }}">Inicia sesión para reservar</a>
    </div>
    {% endif %}
{% endblock %}
